DEPLOYMENT_TARGET={{ deployment_target_name }}
DEPLOYMENT_REGION={{ region_code }}
DEPLOYMENT_STAGE={{ stage_code }}
RELEASE_IMAGE={{ release_image }}
{% for key, value in merged_runtime_env | dictsort %}
{{ key }}={{ value | string | replace('\n', '\\n') }}
{% endfor %}

