services:
  app:
    image: {{ release_image }}
    container_name: {{ container_name }}
    restart: {{ container_restart_policy }}
    env_file:
      - {{ runtime_env_file_path }}
    ports:
      - "{{ host_port }}:{{ container_port }}"
    labels:
      deployment.target: "{{ deployment_target_name }}"
      deployment.region: "{{ region_code }}"
      deployment.stage: "{{ stage_code }}"
      deployment.domain: "{{ app_domain | default('undefined') }}"
    networks:
      - app

networks:
  app:
    name: {{ container_name }}-network

