[defaults]
inventory = {{CWD}}/.github/ansible/inventory/hosts.yml
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
timeout = 30
local_tmp = {{CWD}}/.ansible/tmp

[ssh_connection]
pipelining = True
