[defaults]
inventory = .github/ansible/hosts.yml
collections_path = .ansible/collections
retry_files_enabled = False
interpreter_python = auto_silent
timeout = 30
local_tmp = .ansible/tmp
remote_tmp = /tmp/ansible-local
