DEPLOYMENT_TARGET={{ deployment_target_name }}
DEPLOYMENT_COUNTRY={{ country }}
DEPLOYMENT_ENVIRONMENT={{ deploy_env }}
RELEASE_IMAGE={{ release_image }}
IMAGE_VERSION={{ image_version }}
{% for key, value in merged_runtime_env | dictsort %}
{{ key }}={{ value | string | replace('\n', '\\n') }}
{% endfor %}
