services:
  app:
    image: "{{ release_image }}"
    container_name: "{{ deployed_container_name }}"
    restart: "{{ restart_policy }}"
    env_file:
      - "{{ runtime_env_file_path }}"
    ports:
      - "{{ port_mapping }}"
{% if resolved_extra_volumes | default([]) | length > 0 %}
    volumes:
{% for volume in resolved_extra_volumes %}
      - "{{ volume }}"
{% endfor %}
{% endif %}
    labels:
      deployment.country: "{{ country }}"
      deployment.environment: "{{ deploy_env }}"
      deployment.target: "{{ deployment_target_name }}"
      deployment.image-version: "{{ image_version }}"
    networks:
      - app

networks:
  app:
    name: "{{ build_name }}-{{ deployment_target_name }}-network"
